{% extends "base.html" %}

{% block content %}
{% load static %}
<div class="container">
    <div class="row services-section">
        <h2>Classes</h2>
        <!-- Stock -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img src="{% static 'images/group_class.jpg' %}" class="card-img" alt="A pack of four dogs on the lead">
                <div class="card-img-overlay">
                    <h3 class="card-title">Stock management</h3>
                </div>
                <div class="custom-overlay">
                    <div class="text">
                        <p>Access the stock management page</p>
                        <a href="{% url 'stock' %}" class="btn btn-success btn-sm">Stock</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Puppy class -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img src="{% static 'images/puppy_class.jpg' %}" class="card-img" alt="Three golden retriever puppies playing">
                <div class="card-img-overlay">
                    <h3 class="card-title">Puppy class</h3>
                </div>
                <div class="custom-overlay">
                    <div class="text">Coming soon</div>
                </div>
            </div>
        </div>
        <!-- One-to-one class -->
        <div class="col-sm-6 col-md-4">
            <div class="card">
                <img src="{% static 'images/onetoone_class.jpg' %}" class="card-img" alt="Yellow labrador retriever on leash">
                <div class="card-img-overlay">
                    <h3 class="card-title">One-to-one</h3>
                </div>
                <div class="custom-overlay">
                    <div class="text">
                        <p>Book a one-to-one behaviour training class</p>
                        <a href="{% url 'bookings_list' %}" class="btn btn-success btn-sm">Book now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Repeatable row to give space to the page -->
    <div class="row spacer">
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
    </div>

    <!-- Who we are section -->
    <div class="row whoweare-section">
        <div class="col-10 offset-1">
            <h2>Animal behaviour training</h2>
            <p>Does your dog have behaviour issues? JS Training is here to help correct and manage your dog's behaviour
                through positive reinforcement. We can help with a variety of issues ranging from dog to dog reactivity,
                aggression, relationship with other house pets such as cats, poultry, rabbits..., separation anxiety and much
                more.</p>
            <p>We offer three type of classes. Puppy classes to set the basics right and socialise your puppy from the start
                in a fun and engaging way. Group classes for general behaviour training, comands and socialising. One-to-one
                classes for dogs with more serious behavioural issues.</p>
            <p><a class="text-link" href="{% url 'contact_us' %}" aria-label="contact us">Contact</a> us now for any enquiry
            </p>
        </div>
    </div>

    <!-- Repeatable row to give space to the page -->
    <div class="row spacer">
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
    </div>

    <!-- Reviews, currently fake -->
    <div class="row reviews-section">
        <h2>What our customers say</h2>
        <div class="col-sm comment">
            <!-- Use of &#160; as a no break space -->
            <h4><i class="fa-solid fa-quote-left">&#160;</i></h4>
            <p>We own a 40kg american akita that had socialisation and aggresivity issues. During the 5 sessions we had we
                were taught what to do, how to react and control our dog's behaviour. Walks have been much nicer and less
                stressful since.</p>
        </div>
        <div class="col-sm comment">
            <h4><i class="fa-solid fa-quote-left">&#160;</i></h4>
            <p>Trainer was very patient and explained very well.</p>
        </div>
        <div class="col-sm comment">
            <h4><i class="fa-solid fa-quote-left">&#160;</i></h4>
            <p>Simply said, they saved our household</p>
        </div>
        <!-- w-100 acts as a break in column arrangement -->
        <div class="w-100"></div>
        <div class="col-sm comment">
            <h4><i class="fa-solid fa-quote-left"></i>&#160;</h4>
            <p>My doberman went from wanting to kill my cat to best buddies. It was a long process but so glad I contacted
                JS training</p>
        </div>
        <div class="col-sm comment">
            <h4><i class="fa-solid fa-quote-left"></i>&#160;</h4>
            <p>Definitely worth the money!</p>
        </div>
    </div>

    <!-- Repeatable row to give space to the page -->
    <div class="row spacer">
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
        <div class="col">
            <img src="{% static 'images/pawprint.jpg' %}" class="spacer-img" alt="Pawprint">
        </div>
    </div>

    <div class="row" id="stories">
        <a href="{% url 'posts_overview' %}" class="btn btn-success btn-story">See what the comunity has to say</a>
    </div>

</div>

{% endblock %}
