/* Import fonts */
@import url('https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Sansita&display=swap');

/* Colors */
body {
    background-color: #F6F0A2;
}

#footer-navbar, #header-navbar {
    background-color: #154636;
}

h1, .nav-link, .navbar-brand, #catchline {
    color: #F15A09;
}

.card-title {
    color: #F6F0A2;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#catchline {
    background: rgba(21, 70, 54, 0.5);
}

.text-link {
    text-decoration: none;
}

.comment {
    border-style: groove;
    border-radius: 12px;
    border-color: #F15A09;
}

.card {
    --bs-card-border-color: #F15A09;
  }

  .card-story {
    background-color: #64D373;
  }

  .post-title, .post-text {
    color: black;
  }

/* change the color of active or hovered links
adapted from https://www.codeply.com/p/fGj22m7OBN 
and https://www.w3schools.com/css/css3_shadows.asp */
.navbar .nav-item.active .nav-link,
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link,
.navbar .navbar-brand.active,
.navbar .navbar-brand:focus,
.navbar .navbar-brand:hover,
.navbar .nav-link.active,
.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: #F15A09;
    text-shadow: 1px 1px 2px white, 0 0 25px #64D373, 0 0 5px #F6F0A2;
}

/* Text font, size and alignement */
h1 {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 10vw;
    text-align: center;
    vertical-align: baseline;
}

h2 {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 4em;
    text-align: center;
    vertical-align: baseline;
}

h4 {
    text-align: center;
}

#catchline {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 3vw;
    text-align: center;
    vertical-align: baseline;
}

.nav-link, .navbar-brand {
    font-family: 'Sansita', sans-serif;
    font-size: 1.5em;
}

.card-title {
    font-family: 'Sansita', sans-serif;
    text-align: center;
}

p, .text-link, h3, .post-title {
    font-family: 'Sansita', sans-serif;
}

.btn-story {
    font-family: 'Black And White Picture', sans-serif;
    font-size: 3em;
}


/* Margins and padding */
.navbar, .navbar-expand-sm .navbar-nav .nav-link {
    padding: 0;
}

.nav-link, .navbar-brand {
    margin: 5px 20px;
}

.services-section, .services-section>div {
    padding: 20px;
}

footer {
    padding-top: 20px;
}

.spacer {
    display: flex;
    align-items: center;
    height: 300px;
}

.comment {
    margin: 10px 0;
}

.spacer>div {
    text-align: center;
}

.spacer-img {
    height: 50px;
    width: 50px;
    opacity: 0.6;
    border-radius: 40%;
}

.btn-left {
    margin-left: 50%;
}

.btn-right {
    margin-left: 30%;
}

.card {
    margin-top: 3rem;
  }

#posts {
    margin-bottom: 4rem;
}

/* Body */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    position: relative;
}

#header-text {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

#img-banner {
    width: 100%;
    height: auto;
}

/* Footer */
footer{
    margin-top: auto;
}

/* Card hover overlay effect */
/* Based on https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_overlay_fade */
.custom-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #154636;
  }
  
.services-section>div:hover .custom-overlay {
    opacity: 0.9;
}
  
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Posts */
.card-header {
    border-bottom: none;
}

.card {
    --bs-card-border-width: 3px;
}

/* Stock styling */
th, td {
    border: 1px solid black;
    padding-left: 5%;
  }
