{% extends "base.html" %}

{% block content %}

<h1 class="text-center">Book a class today!</h1>

    <div class="container">
        {% for session in sessions|dictsort:"day" %}
            <div class="row" id="{{ sessions.day }}">
                <div class="col-4 offset-2">
                    {% ifchanged %}
                        {{ session.day }}
                    {% endifchanged %} 
                </div>
                
                <div class="col-1">
                    {{ session.time }}
                </div>    
            </div>        
        {% endfor %}  
        <div class="row">
            <div class="col-4 offset-4">
                <a href="{% url 'bookings_list' %}" class="btn btn-success btn-sm">Book now</a>
            </div>
        </div>           
    </div>

{% endblock %}
