{% extends "base.html" %}

{% block content %}

<div class="row homepage-section">
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="/static/images/group-class.jpg" class="card-img" alt="A pack of four dogs on the lead">
            <div class="card-img-overlay">
                <h3 class="card-title">Group class</h3>
            </div>
            <div class="custom-overlay">
                <div class="text">Hello World</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="/static/images/puppy-class.jpg" class="card-img" alt="Three golden retriever puppies playing">
            <div class="card-img-overlay">
                <h3 class="card-title">Puppy class</h3>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="card">
            <img src="/static/images/onetoone-class.jpg" class="card-img" alt="Yellow labrador retriever on leash">
            <div class="card-img-overlay">
                <h3 class="card-title">One-to-one</h3>
            </div>
        </div>
    </div>
</div>

<h2 class="text-center">Book a class today!</h2>

    <div class="container">
        {% for session in sessions|dictsort:"day" %}
            <div class="row" id="{{ sessions.day }}">
                <div class="col-4 offset-2">
                    {% ifchanged %}
                        {{ session.day }}
                    {% endifchanged %} 
                </div>
                
                <div class="col-1">
                    {{ session.time }}
                </div>    
            </div>        
        {% endfor %}  
        <div class="row">
            <div class="col-4 offset-4">
                <a href="{% url 'bookings_list' %}" class="btn btn-success btn-sm">Book now</a>
            </div>
        </div>           
    </div>

{% endblock %}
