{% extends "base.html" %}

{% block content %}

<h2>{{ user.username }}</h2>
<h3>Sessions you have booked:</h3>

<div class="container">
{% for booking in bookings %}
    <div class="row">
        <div class="col-4">
            {{ booking }}
        </div>
        <div class="col-2">
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteBookingModal{{booking.id}}" data-bs-whatever="{{ booking.id }}" class="btn btn-danger btn-sm">
                Cancel booking
            </a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="deleteBookingModal{{booking.id}}" tabindex="-1" aria-labelledby="deleteBookingLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>Are you sure you want to cancel your booking on {{ booking }}?</p>
                    <p>This is permanent and can not be undone!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">No</button>
                    <a href="{% url 'cancel' booking.id %}" class="btn btn-danger btn-sm">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% empty %}
    You currently have no bookings
{% endfor %}
</div>

{% endblock %}