{% extends "base.html" %}

{% block content %}
{% load static %}

    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        {% if "placeholder" in post.image.url %}
                            <img class="card-img-top" src="{% static 'images/post_placeholder.jpg' %}" alt="Pug looking at camera">
                        {% else %}
                            <img class="card-img-top" src=" {{ post.image.url }}">
                        {% endif %}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">
                                {{ post.created_on}}
                                <i class="far fa-heart"></i> {{ post.number_of_likes }}
                            </small>
                        </div>
                    </div>
                </div>
        </div>

        <!-- Comments -->
<div class="container-fluid">
    <div class="row justify-content-center">
        {% for comment in comments %}
        <div class="col-md-8  col-lg-6 mx-auto bg-darker rounded p-3 mt-3 mb-3">
            <p><em>{{ comment.name }}:</em></p>
            {{ comment.body | linebreaks }}<hr>
            <em>{{comment.created_date }}</em>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Add comment -->
<div class="container-fluid">

    {% if commented %}
    <div class="alert alert-success col-md-3 mx-auto mt-3 mb-3 p-3" role="alert">
        <p>Comment is pending approval.</p>
    </div>
    {% else %}

    {% if user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 mx-auto mt-5 p-3 bg-darker rounded">
            <h2>Add a Comment</h2>
            <p>Post as: {{ user.username }}</p>
            <form method="POST">
                {{ comment_form }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Comment</button>
            </form>
        </div>
    </div>
    {% endif %}
    {% endif %}

{% endblock %}