{% extends "base.html" %}
{% load static %}
{% block content %}

<h2>Welcome to the label stock management</h2>
<h3>Available stock:</h3>

<div class="container">
    <table class="stock_table">
        <tr>
            <th>Label</th>
            <th>Front label</th>
            {% if label.has_two_labels %}
                <th>Back label</th>
            {% endif %}
            <th>Add stock</th>
        </tr>
        {% for label in grouped_label_stock %}
        <tr>
            <td>{{ label.label_name__label  }}</td>
            <td class="total_quantity_1">{{ label.total_quantity_1 }}</td>
            {% if label.has_two_labels %}
                <td>{{ label.label_quantity_2 }}</td>
            {% endif %}
            <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addLabelStockModal"
                        data-item-id = "{{ label.id }}"
                        data-item-name = "{{ label.label_name__label }}"
                        data-item-has-two-labels = "{{ label.has_two_labels }}">
                    <i class="fa-solid fa-plus" aria-hidden="true"></i>
                </button>
            </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="4">No stock available.</td>
        </tr>
        {% endfor %}
    </table>

    <!-- Add label stock defined outside the loop -->
    <div class="modal fade" id="addLabelStockModal" tabindex="-1" aria-labelledby="addLabelStockLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="labelStockForm" action="{% url 'add_label_stock' %}" method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="addLabelStockLabel">
                            Add stock to <span id="modalLabelName"></span>
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- Hidden fields -->
                        <input type="hidden" name="label_name__label" id="labelModalItemNameHidden" value="">
                        <input type="hidden" name="has_two_labels" id="labelModalItemHasTwoLabels" value="">
                        
                        <!-- Container for the form fields -->
                        <div id="labelFormFields">
                            {{ label_form.as_p }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Stock</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Edit label stock moodal -->

</div>

{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        const addLabelStockUrl = "{% url 'add_label_stock' %}";
        const fetchLabelStockFormUrl = "{% url 'get_label_stock_form' %}";
        // const removeStockUrl = "{% url 'remove_stock' %}";
    </script>
    <script src="{% static 'js/stock.js' %}"></script>
{% endblock %}
