{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JS Training</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>


<body>

    <header>
        <div id="header-text">
            <h1 class="text-center">JS Training</h1>
            <p id="catchline">A better understanding of the dog's mind for a healthier human/dog relationship</p>
        </div>
        <img src="{% static 'images/banner_img.jpg' %}" alt="Dog running in a field" id="img-banner">
    </header>

    <!-- Navbar -->
    <!-- Navbar derived from https://getbootstrap.com/docs/5.0/components/navbar/ -->
    <nav class="navbar navbar-expand-sm" id="header-navbar">
        <a class="navbar-brand" href="{% url 'home' %}" aria-label="home">Home</a>
        <!-- This button only appears when screen size is small (.navbar-expand-sm) -->
        <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarCollapsibleOptions" aria-controls="navbarCollapsibleOptions" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- When screen size larger than 576px (sm) ul shows -->
        <div class="collapse navbar-collapse flex-row-reverse" id="navbarCollapsibleOptions">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'posts_overview' %}" aria-label="stories">Stories</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'user_profile' %}" aria-label="my account">My
                        account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}" aria-label="logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}" aria-label="register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}" aria-label="login">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    

    <main>
        {% if messages %}
        {% include 'messages.html' %}
        {% endif %}
        
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <footer>
        <nav class="navbar navbar-expand-sm" id="footer-navbar">
            <a class="nav-link" href="{% url 'contact_us' %}" aria-label="contact us">
                Contact us
            </a>
            <!-- This button only appears when screen size is small (.navbar-expand-sm) -->
            <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSocialMedia"
                aria-controls="navbarSocialMedia" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- When screen size larger than 576px (sm) ul shows -->
            <div class="collapse navbar-collapse flex-row-reverse" id="navbarSocialMedia">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="https://facebook.com" target="_blank"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://pinterest.com" target="_blank"
                aria-label="Visit our Pinterest page (opens in a new tab)"><i class="fa-brands fa-pinterest"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://instagram.com" target="_blank"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </footer>

    <!-- Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/c541643ad5.js" crossorigin="anonymous"></script>

    <!-- Messages script -->
    {% if messages %}
    <script>
        var message_ele = document.getElementById("message_container");

        setTimeout(function(){ 
        message_ele.style.display = "none"; 
        }, 3000);
    </script>
    {% endif %}

</body>

</html>